backtrader==1.9.76.123
backtrader_plotting==2.0.0
ccxt==1.89.5
dill==0.3.5.1
numpy==1.22.4
pandas==1.4.3
pandas_ta==0.3.14b
PyYAML==6.0
scikit_learn==1.1.1
scipy==1.8.1
telegram==0.0.1
termcolor==1.1.0
tqdm==4.64.0
